body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-mono), monospace;
}

.app-content {
  box-sizing: border-box;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--page-margin);
}
